{% extends 'Cronorgama/home.html' %}
{% load static %}
{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Cronograma</h1>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Profesor</th>
                            <th>Estado</th>
                            <th>Cantidad</th>
                            <th>Visualizar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Profesor</th>
                            <th>Estado</th>
                            <th>Cantidad</th>
                            <th>Visualizar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for grupo in grupos %}
                        {% if "Técnico de apoyo" == grupo.name %}
                        {% for usuario, conteo,cronograma in usuarios_con_semanas %}
                        <tr>
                            
                            {% if usuarioTa.programa == cronograma.programa %}
                            <h3>{{usuarioTa.programa}} {{usuarioTa.programa.codigo}}</h3>
                            <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                            {% if conteo != 0 %}
                            <td>Si registro</td>
                            {% else %}
                            <td>No registro</td>
                            {% endif %}
                            <td>{{ conteo }}</td>

                            <td><button type="button"
                                onclick="window.location.href='{% url 'CcronogramaU' cronograma.id %}'"
                                class="btn btn-sm btn-warning" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                  </svg> </button></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        {% for usuario, conteo,cronograma in usuarios_con_semanas %}
                        <tr>
                           
                            <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                            {% if conteo != 0 %}
                            <td>Si registro</td>
                            {% else %}
                            <td>No registro</td>
                            {% endif %}
                            <td>{{ conteo }}</td>

                            <td><button type="button"
                                onclick="window.location.href='{% url 'CcronogramaU' cronograma.id %}'"
                                class="btn btn-sm btn-warning" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                  </svg> </button></td>
                        </tr>
                       
                        {% endfor %}
                        {% endif %}
                        {% endfor %}

                        
                    </tr>
                       

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}