{% load static %}
<div class="modal-dialog modal-lg " role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Modificar Disponibilidad</h2>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <form action="{% url 'Cdiaedit' cdia.id %}" method="POST" enctype="multipart/form-data">
            <div class="container">
              {% csrf_token %}
              <div class="form-group" class="form-control form-control-user">
                {{form.dia.label_tag}}
                {{form.dia}}
              </div>
              <div class="form-group">
                {{form.a}}
                <label class="form-check-label" for="flexCheckDefault">
                  07:00 a.m. a 10:00 a.m.
                </label>
              </div>
              <div class="form-group">
                {{form.programa.label_tag}}
                {{form.programa}}
              </div>
              <div class="form-group">
                {{form.b}}
                <label class="form-check-label" for="flexCheckDefault">
                  10:00 a.m. a 01:00 p.m.
                </label>
              </div>
              <div class="form-group">
                {{form.c}}
                <label class="form-check-label" for="flexCheckDefault">
                  02:00 p.m. a 05:00 p.m.
                </label>
              </div>
              <div class="form-group">
                {{form.d}}
                <label class="form-check-label" for="flexCheckDefault">
                  05:00 p.m. a 06:30 p.m.
                </label>
              </div>
              <div class="form-group">
                {{form.e}}
                <label class="form-check-label" for="flexCheckDefault">
                  06:30 p.m. a 09:30 p.m.
                </label>
              </div>
            </div>

            <button class="btn btn-danger btn-user btn-block" type="submit">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="errorModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="errorText">{{ error_message }}</p>
  </div>
</div>

<script>
// Obtén el modal
var modal = document.getElementById("errorModal");

// Obtén el botón para cerrar el modal
var closeBtn = document.getElementsByClassName("close")[0];

// Cuando se haga clic en el botón de cierre, oculta el modal
closeBtn.onclick = function() {
  modal.style.display = "none";
}

// Cuando se cargue la página, muestra el modal si hay un mensaje de error
window.onload = function() {
  var errorText = document.getElementById("errorText").innerText;
  if (errorText) {
    modal.style.display = "block";
  }
}
</script>